/* Resetting base values for the site  */
*{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

:root{
    --icon-color : gray;
    --reddish-bck : #BD2B2A;
    --on-hover-color : #f4f4f4;
}

/* Styling header part of the website  */

.header-part{
    display : grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items : center;
}

.news-icon h1{
    display : inline-block;
    position : absolute;
}

.news-icon img{
    height : 2.5rem;
}

.social-icons i{
    font-size : 2rem;
    color : var(--icon-color);
    padding: 0rem 0.3rem;
}

.links-div a{
    display: inline-block;
    text-decoration : none;
    padding : 0.9rem 0.6rem;
}

.links-div #home{
    background-color : var(--reddish-bck);
    color : white;
}

.links-div #about{
    color : black;
}

#about:hover{
    background-color: var(--on-hover-color);
}

.news-icon{
    margin-left : 6rem;
    padding : 1rem 0rem;
}


/* Styling article div  */

.article-div{
    height : 300px;
    background : url('./image_resources/featured.jpg') no-repeat center center/cover;
    overflow:hidden;
}

.article-div .article-content{
    height : 100%;
    background: rgba(0,0,0,0.6);
    color : white;
    padding : 2rem 7rem;
}

.article-div .article-content #sports{
    display : inline-block;
    color : white;
    text-decoration : none;
    padding : 0.4rem 0.6rem;
    background-color : orange;
    border-radius : 1rem;
    margin : 0.6rem 0rem;
}

.article-div .article-content h2{
    text-transform : uppercase;
    font-weight: bold;
    margin-bottom : 0.8rem;
}

.article-div .article-content p{
    line-height : 1.6rem;
    margin-bottom : 0.6rem;
    max-width : 60%;
    font-size : 1rem;
}

.article-div .article-content #readmore{
    display: inline-block;
    text-decoration : none;
    color : white;
    padding : 0.8rem 1rem;
    background-color : var(--reddish-bck);
    margin-bottom : 1.2rem;
}