/* Resetting base values for the site  */
*{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

:root{
    --icon-color : gray;
    --reddish-bck : #BD2B2A;
    --on-hover-color : #f4f4f4;
    --editor-picks-bck-color : #f3f3f3;
    --sports-bck-color : #F99500;
    --tech-bck-color : #009CFF;
    --ent-bck-color : #A66BBE;   
    --last-section-bck : #333333;
    --grid-13-content-bck : #333333;
    --footer-color : #444444;
    --block-div-bck-color : #EEEEEE;
    --join-club-bck-color : #F99500;
    --joinNow-button-color : #E58B05;
    --listItem-border-bottom-color : #555;
}

body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

/* Styling header part of the website  */

.header-part{
    display : grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    align-items : center;
    position: sticky;
    top: 0;
    background-color: white;
}

.news-icon img {height : 2.2rem;}

.header-part .social-icons i{
    font-size : 1.8rem;
    color : var(--icon-color);
    padding: 0rem 0.3rem;
}

.links-div a{
    display: inline-block;
    text-decoration : none;
    padding : 0.9rem 0.6rem;
    color : black;
}

.links-div .current{
    background-color : var(--reddish-bck);
    color : white;
}

.links-div a:hover {background-color: var(--on-hover-color); color : black;}

.news-icon{
    margin-left : 6rem;
    padding : 1rem 0rem;
}

/* Styling header part for tables and mobile screens  */

@media (max-width : 768px){
    .social-icons {display : none;}
    .header-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news-icon {margin-left : 0rem;}
    .links-div a {padding : 0.6rem;}
    .links-div {margin-bottom : 0.35rem;}
}
/*End styling header part of the webiste*/

/* Styling article div  */

.article-div{
    background : url('./image_resources/featured.jpg') no-repeat center center/cover;
}

.article-div .article-content{
    height : 100%;
    background: rgba(0,0,0,0.65);
    color : white;
    padding : 3.5rem 5rem;
}


.ent-class {background-color: var(--ent-bck-color);}
.sports-class {background-color: var(--sports-bck-color);}
.tech-class {background-color: var(--tech-bck-color);}

.sports-class, .ent-class, .tech-class{
    display: inline-block;
    text-decoration : none;
    color : white;
    padding : 0 0.4rem;
    padding-top : 0.3rem;
    padding-bottom : 0.5rem;
    font-size: 0.7rem;
    border-radius: 1rem;
    margin-bottom : 0.3rem;
}

.article-div .article-content h2{
    text-transform : uppercase;
    font-weight: bold;
    margin-bottom : 0.8rem;
}

.article-div .article-content p{
    line-height : 1.6rem;
    margin-bottom : 1rem;
    max-width : 60%;
    font-size : 1rem;
}

.article-div .article-content #readmore{
    display: inline-block;
    text-decoration : none;
    color : white;
    padding : 0.7rem 1.1rem;
    background-color : var(--reddish-bck);
    margin-bottom : 1.2rem;
}

/*End Styling Articles Div*/


/* styling editor picks section  */

.overall-editor-picks-section{
    max-width : 1000px;
    margin : auto;
    overflow: hidden;
}

.overall-editor-picks-section h2{
    padding-left : 1rem;
    padding-top : 0.5rem;
}

.overall-editor-picks-section .section-13-grid,
.overall-editor-picks-section .section-31-grid
{
    display: grid;
    grid-gap : 0.75rem;
    margin : 0.8rem;
}

.overall-editor-picks-section .section-13-grid{
    grid-template-columns: 4fr 2fr;
    margin-bottom : 0.4rem;
}

.overall-editor-picks-section .section-31-grid{
    grid-template-columns: 2fr 4fr;
}

.overall-editor-picks-section .section-13-grid .img-div,
.overall-editor-picks-section .section-31-grid .img-div
{
    display: flex;
    align-items: center;
    background-color: white;
}

.overall-editor-picks-section .section-13-grid .img-div .content-div-inside-img-div,
.overall-editor-picks-section .section-31-grid .img-div .content-div-inside-img-div {margin-right : 0.4rem;}

.overall-editor-picks-section .section-13-grid .content-div,
.overall-editor-picks-section .section-31-grid .content-div
{
    padding : 0.6rem;
    color : white;
}

.overall-editor-picks-section .section-13-grid .content-div {background-color: var(--grid-13-content-bck);}
.overall-editor-picks-section .section-31-grid .content-div {background-color: var(--reddish-bck);}

.overall-editor-picks-section .section-13-grid .content-div h3,
.overall-editor-picks-section .section-31-grid .content-div h3,
.overall-editor-picks-section .section-13-grid .img-div .content-div-inside-img-div h3,
.overall-editor-picks-section .section-31-grid .img-div .content-div-inside-img-div h3
{
    padding-bottom : 0.45rem;
    font-weight: bold;
}

.overall-editor-picks-section .section-13-grid .img-div .content-div-inside-img-div a,
.overall-editor-picks-section .section-31-grid .img-div .content-div-inside-img-div a{
    margin-top : 1rem;
}

.overall-editor-picks-section .section-13-grid .img-div img,
.overall-editor-picks-section .section-31-grid .img-div img
{
    width : 50%;
    padding : 0.6rem;
}

.overall-editor-picks-section .section-2-grid{
    display: grid;
    grid-template-columns : repeat(3,1fr);
    grid-gap: 1rem;
    margin: 0.8rem;
}

/*Making Section-2 Grid responsive on all devices*/
@media (max-width : 500px){
    .overall-editor-picks-section .section-2-grid{
        display: flex;
        flex-direction: column;
        margin : 1rem 0rem;
    }
}


.overall-editor-picks-section .section-2-grid .container-1 img,
.overall-editor-picks-section .section-2-grid .container-2 img,
.overall-editor-picks-section .section-2-grid .container-3 img{
    display: block;
    width : 100%;
    padding : 0.5rem 0.8rem;
}

.overall-editor-picks-section .section-2-grid .container-1 .content-div,
.overall-editor-picks-section .section-2-grid .container-2 .content-div,
.overall-editor-picks-section .section-2-grid .container-3 .content-div{
    padding : 0.7rem;
}

.overall-editor-picks-section .section-2-grid .container-1 .content-div h3,
.overall-editor-picks-section .section-2-grid .container-2 .content-div h3,
.overall-editor-picks-section .section-2-grid .container-3 .content-div h3{
    margin-bottom : 0.4rem;
}


.overall-editor-picks-section .section-2-grid .container-1,
.overall-editor-picks-section .section-2-grid .container-2,
.overall-editor-picks-section .section-2-grid .container-3{
    background-color: white;
}


/* making section-13-grid and section-31-grid responsive on mobile devices  */

@media (max-width : 500px){
    .overall-editor-picks-section .section-13-grid,
    .overall-editor-picks-section .section-31-grid
    {
        display: flex;
        flex-direction: column;
    }
}
/* End Styling Editor Picks Section */


/* Styling last section of the page  */

.join{
    background-color: var(--last-section-bck);
    color : #fff; 
    font-size : 0.9rem;
}

.join .inner-join{
    max-width : 1000px; 
    margin : auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding : 0.8rem 0rem;
}

.join .inner-join .join-section-1{
    padding : 0.5rem;
    text-align: left;
}

.join .inner-join .join-section-1 img{
    display: inline-block;
    height : 2.2rem;
    margin-bottom: 0.6rem;
}

.join .inner-join .email-section,.join .inner-join .site-links {padding: 0.6rem;}

.join .inner-join .email-section button{
    height : 2rem; 
    width: 85%;
    border: none;
    background-color : var(--reddish-bck);
    color : white;
}

.join .inner-join .email-section button:hover{
    cursor: pointer;
}

.join .inner-join .email-section input{
    width : 85%; 
    height: 2.1rem; 
    margin : 0.6rem 0rem;
}

.join .inner-join .email-section h3 {margin-bottom : 0.4rem;}
.join .inner-join .site-links h4 {padding : 0.3rem 0rem;}
.join .inner-join .site-links ul {list-style: none;}

.join .inner-join .site-links ul li{
    padding : 0.5rem 0rem;
    border-bottom: 1px dotted var(--listItem-border-bottom-color);
}

.join .inner-join .site-links ul li a:hover{
    color : var(--reddish-bck);
}

.join .inner-join .site-links ul li a{
    text-decoration: none;
    color : white;
}

.join .inner-join .site-links ul li:last-child {border-bottom : none}
.join .inner-join .join-section {padding : 0.8rem}
.join .inner-join .join-section h3 {margin-bottom : 0.7rem}
.join .inner-join .join-section p {margin-bottom : 0.5rem}

.join .inner-join .join-section button{
    background-color: var(--joinNow-button-color);
    color : white;
    border : none;
    height : 2.5rem;
    width : 7.5rem;
}

.join .inner-join .join-section button:hover{
    cursor: pointer;
}

.join .footer-section{
    max-width: 1000px;
    margin-left : auto;
    margin-right : auto;
    text-align : center;
    padding : 1rem;
    background-color : var(--footer-color);
    color : white;
    font-size : 0.8rem;
}

/* Make last section of index page responsive on mobile devices and some tablet devices */
@media (max-width : 600px){
    .join .inner-join{
        display: flex;
        flex-direction: column;
    }
    .join .inner-join .email-section input{
        width : 100%; 
        margin : 0.4rem 0rem;
    }
    .join .inner-join .email-section button{
        width : 100%;
    }
}

/* End styling last section of the page  */

/* Styling about section of the webpage  */

.about-org {
    max-width : 1000px;
    margin : auto;
    display : grid;
    grid-template-columns : 3fr 1fr;
    grid-gap : 1rem;
    padding : 1.3rem;
}

.about-org .about{
    grid-row: 1/ span 3;
    padding : 1rem;
    background-color : white;
}

.about-org .about h1{
    margin-bottom : 0.7rem;
}

.join-club{
    background-color : var(--reddish-bck);
    color : white;
    padding : 1rem;
    font-size : 0.9rem;
}

.join-club p{
    margin : 0.6rem 0rem;
}

.join-club button{
    width : 100%;
    padding : 0.5rem;
    background-color : #333;
    color : white;
    border : none;
}

.join-club button:hover{
    cursor: pointer;
}

/*Making about section of the reponsive on all devices*/
@media (max-width : 500px){
    .about-org{
        display: flex;
        flex-direction: column;
    }
}

/* End styling about section of the page  */


/* Styling current article page  */

.current-article{
    max-width: 1000px;
    margin : auto;
    padding : 1rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap : 1rem;
}


.current-article .div-1{
    background-color : white;
    grid-row: 1/ span 3;
    padding : 0.8rem;
    overflow : auto;
}

.current-article .div-1 img{
    display: block;
    width : 100%;
    margin-top : 0.5rem;
}

.current-article .div-1 .block-div{
    display: flex;
    justify-content: space-between;
    background-color : var(--block-div-bck-color);
    align-items: center;
    padding : 0.3rem;
    margin : 0.7rem 0rem;
    font-size : 0.8rem;
    text-align: justify;
}

.current-article .list-part{
    background-color : white;
    padding : 1rem;
    max-width: 100%;
}

.current-article .list-part ul{
    list-style : none;
    padding-top : 0.7rem;
}

.current-article .list-part ul li{
    border-bottom : 0.8px dotted #333;
    padding-bottom : 0.45rem;
    margin-bottom : 0.5rem;
}

.current-article .list-part ul li:last-child{
    border : none;
}

.current-article .join-club{
    background-color : var(--join-club-bck-color);
}

/*Make current article page responsive*/
@media (max-width : 500px){
    .current-article{
        display: flex;
        flex-direction: column;
    }
}

/* End styling current article page  */